
.spatial-master .control {
}

.spatial-master .control[data-layout="vertical"] {
	text-align: center;
}

.spatial-master .control > label {
	display: inline-block;
}

.spatial-master .control > .label-text,
.spatial-master .control > label > .label-text {
	position: absolute;
	top: 50%;
	line-height: 10px;
	margin-top: -5px;
	width: 2cm;
}

.spatial-master .control[data-layout="vertical"] > .label-text,
.spatial-master .control[data-layout="vertical"] > label > .label-text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: .5cm;
	line-height: normal;
	margin: 0;
	width: auto;
}

.spatial-master .control > label > .label-control {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	line-height: normal;
	margin: 0;
}

.spatial-master .control > [data-label-text="true"] > .label-control {
	left: 2cm;
}

.spatial-master .control[data-layout="vertical"] > [data-label-text="true"] > .label-control {
	left: 0;
	top: .5cm;
}
