
.spatial-master .control {
}

.spatial-master .inline-control {
	display: inline-block;
	margin-right: .1cm;
}

.spatial-master .control .label-text,
.spatial-master .control input,
.spatial-master .control .alternate-input,
.spatial-master .control .value-display,
.spatial-master .control .value-editor {
	margin: .1cm;
}

.spatial-master .control .label-text {
	display: inline-block;
	text-transform: lowercase;
	text-decoration: underline;
	color: rgb(255,83,65);
}

.spatial-master .control[data-layout="vertical"] .label-text {
	width: auto;
}

.spatial-master .control .control .label-text {
	text-align: right;
}
