
.spatial-master .checkbox-control [data-label-text="true"] .label-control {
	left: 0;
	right: 2cm;
}

.spatial-master .checkbox-control [data-label-text="true"] .label-text {
	left: 2cm;
	right: 0;
}

.spatial-master .checkbox-control .label-control > input[type="checkbox"] {
	min-height: 0;
	max-height: none;
	min-width: 0;
	max-width: none;
	height: 100%;
	width: 100%;
}
