
.spatial-master {
}

.spatial-master .screen {
	position: relative;
	margin: 0;
	overflow-y: auto;
}

.spatial-master > .screen-group {
	left: .5cm;
	padding: 0;
}

.spatial-master > .screen-group > .screens-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;

	height: 1cm;
	display: block;
	text-align: left;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.spatial-master > .screen-group > .screens {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;

	margin-top: 0;
}

.spatial-master > .screen-group > .screens > .screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	margin-top: 0;
	padding-top: 1.3cm;
}

.spatial-master .screen-group .toggle-edit-button {
	z-index: 3;
}

.spatial-master .visualization {
	overflow: hidden;
}

.spatial-master .visualization > canvas {
	width: 100% !important;
	height: 100% !important;
}

.spatial-master .screen > .visualization {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
}

.spatial-master .panel {
	position: relative;
	z-index: 2;
}

.spatial-master .screen-group > .screens-nav .toggle-edit-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 1cm;
}