
html {
	height: 100%;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.screen {
	position: relative;
}

.spatial-master > .screens {
	left: .5cm;
	padding: 0;
}

.spatial-master > .screens > .screen {
	margin-top: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.screen > .three-dee {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}