@import url('./screen-layouts/grid.css');

.spatial-master {
	position: relative;
	font-size: .35cm;

	background-color: black;
	color: white;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.spatial-master :link,
.spatial-master :visited {
	color: inherit;
}

.spatial-master button,
.spatial-master input,
.spatial-master select {
	font-size: inherit;
}

.spatial-master h1 {
	margin-top: 0;
}

.spatial-master .screen-group.edit-mode .panel {
	border-color: rgba(255,0,0,.5);
}

.spatial-master .screen-group > .screens-nav {
	text-transform: uppercase;
	padding: .125cm;
	text-align: center;
	margin: 0 1.5cm 0 0;
}

.spatial-master ul.screens-nav {
	list-style-type: none;
}

.spatial-master .screen-group > .screens-nav > * {
	display: inline-block;
}

.spatial-master .screen-group .toggle-edit-button {
	background-color: #999;
	color: black;
	border-width: 0;
	margin: .125cm;
	vertical-align: middle;
	position: absolute;
	top: .125cm;
	right: .125cm;
	width: 1cm;
	height: .7cm;
}

.spatial-master .screen-group.edit-mode .toggle-edit-button {
	background-color: #c00;
}

.spatial-master .screen-group > .screens-nav :link {
	display: inline-block;
	text-decoration: none;
	padding: .1cm .25cm;
	border: .05cm solid white;
	background-color: black;
	color: white;
	margin: .125cm;
	font-size: .5cm;
	line-height: .5cm;
	font-weight: bold;
	opacity: .5;
}

.spatial-master .screen-group > .screens-nav > .active :link,
.spatial-master .screen-group > .screens-nav > .active :visited {
	color: black;
	background-color: white;
	border-color: black;
	opacity: 1;
}

.spatial-master .screen-group > .screens-nav :hover {
	opacity: 1;
}

.spatial-master > .screen-group > .screens {
	margin-top: .1cm;
	position: relative;
}

.spatial-master .screen {
	opacity: 1;
	transition: all .2s ease-in-out;
	z-index: 2;
	margin: 0 0 .5cm 0;
	overflow: hidden;
}

.spatial-master .screen > h1 {
	margin: 0;
}

.spatial-master .screen > h1 .label {
	display: none;
}

.spatial-master .screen.hidden {
	opacity: 0;
	height: 0;
	margin-bottom: 0;
}


.spatial-master .panel {
	background-color: rgba(0,0,0,.8);
	vertical-align: top;
	border: 0 solid rgba(255,255,255,.5);
	border-width: .05cm 0;
	padding: 10px 10px 0 10px;
	min-height: 3.25cm;
}

.spatial-master .panel > h1 {
	margin: -11px -10px 0 -11px;
	background-color: rgba(255,255,255,.1);
	color: white;
	padding: 2px 5px;
	text-transform: uppercase;
}

.spatial-master .panel > .control {
	padding-left: 2.25cm;
	margin: .5cm 0;
}

.spatial-master .panel > .control > .label-text,
.spatial-master .panel > .control > label > .label-text {
	display: inline-block;
	margin-left: -2.25cm;
	margin-right: .25cm;
	width: 2cm;
	vertical-align: top;
}

.spatial-master .panel > .control > .control > .label-text,
.spatial-master .panel > .control > .control > label > .label-text {
	display: inline-block;
	margin-left: -1.75cm;
	margin-right: .25cm;
	width: 1.5cm;
	vertical-align: top;
}

.spatial-master .control {
	margin: .1cm 0;
	display: block;
}

.spatial-master .control .label-text {
	margin-right: .2cm;
	font-weight: bold;
	text-transform: lowercase;
}

.spatial-master .control.inline-control {
	margin: 0 .25cm 0 0;
	display: inline-block;
}

.spatial-master .control.inline-control .label-text {
	text-transform: none;
	font-weight: normal;
	min-width: 0;
	margin-right: 0;
}

.spatial-master .control input,
.spatial-master .control button,
.spatial-master .control select {
	vertical-align: middle;
}

.spatial-master .slider-control.control > label > .value-display {
	border: 1px solid white;
}

.spatial-master .slider-control.control > label > .value-display,
.spatial-master .slider-control.control > label > .value-editor {
	margin-right: .25cm;
	width: 2cm;
	text-align: right;
	display: inline-block;
}

.spatial-master .three-dee {
	display: none;
}