
.spatial-master .screen {
	position: relative;
}

.spatial-master > .screen-group {
	left: .5cm;
	padding: 0;
}

.spatial-master > .screen-group > .screens > .screen {
	margin-top: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.spatial-master .screen > .three-dee {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}