@import url('../archer/spatial.css');

@import url('./screens.css');
@import url('./panels.css');

@import url('./screen-layouts/grid.css');
@import url('./controls.css');

.spatial-master,
.spatial-master .panel,
.spatial-master .screen,
.spatial-master .screens-nav {
	border: .05cm solid rgba(255,24,0,.5);
	border-radius: .1cm;
	box-shadow: 0 0 .5cm rgba(255,24,0,.5);
	background-color: rgba(0,0,0,.95);
	font-family: Arial, Verdana, sans-serif;
}

.spatial-master button,
.spatial-master input,
.spatial-master input[type="checkbox"] + .label-text,
.spatial-master select,
.spatial-master .alternate-input,
.spatial-master .control {
	vertical-align: middle;
}

.spatial-master input[type="checkbox"] {
	height: .6cm;
	width: .6cm;
	background-color: rgb(255,0,7);
	border-width: 0;
}

.spatial-master button {
	border-radius: .1cm;
	min-height: .6cm;
	min-width: .6cm;

	border: .05cm solid rgb(255,0,71);
	background-color: transparent;
	box-shadow: 0 0 .5cm rgb(255,24,0);
	color: white;
	font-weight: bold;
}

.spatial-master .screen-group .toggle-edit-button {
	background-color: transparent;
	background-image: 
		radial-gradient(
			circle 1cm at 5px 5px,
			rgba(255, 255, 255, 0.5) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		radial-gradient(
			circle closest-side,
			rgb(182, 0, 0) 0%,
			rgb(150, 0, 0) 100%
		)
	;
	color: white;
	top: 0;
	right: 0;
	width: 1.5cm;
	height: 1.5cm;
	margin: 0;
}

.spatial-master .screen-group.edit-mode .toggle-edit-button {
	background-color: rgb(255,0,41);
}
