
.screen[data-layout="left"] {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.screen[data-layout="left"] > .section {
	top: 0;
	left: 0;
	bottom: 0;
	width: 8cm;
}

.screen[data-layout="left"] > .section > * {
	display: block;
}

.screen[data-layout="left"] > .section.two {
	left: 8cm;
}

.screen[data-layout="left"] > .section.three {
	left: 16cm;
}

.screen[data-layout="left"] > .section.four {
	left: 24cm;
}
